.carrosselSlide {
    display: flex;
}

.swiper-pagination {
    position: initial;
    margin: .5em;
    top: 0;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

@media (min-width: 760px) {
    .swiper-pagination {
        margin: 1.2em 0 0 0;
    }

    .swiper {
        width: 75%;
        margin: 2rem auto;
    }

    .swiper-button-prev, .swiper-button-next {
        display: block;
    }
}

@media (min-width: 1020px) {
    .swiper {
        width: 60%;
    }
}

@media (min-width: 1440px) {
    .swiper {
        width: 40%;
        margin: 3rem auto;
    }
}