.rodape {
    height: 13vh;
    margin: 1em;
    padding-bottom: .8em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--fonte_002);
    font-weight: bold;
    border-radius: 1em;
    background: linear-gradient(145deg, var(--cor_003), var(--cor_004));
    box-shadow:  1em 1em 2.5em var(--cor_004), -1em -1em 1em var(--cor_002);
    border: var(--cor_004);
    bottom: 0;
    position: fixed;
    width: 90%;
    text-align: center;
}

.rodape__menu {
    display: none;
    font-family: var(--fonte_002);
    font-weight: bold;
    padding: .8em;
}

.rodape__titulo {
    padding-top: .8em;
}