:root {

  /* - Fontes - */

  --fonte: 'Montserrat', sans-serif;

  /* - Cores - */

  --preto: #000000;
  --branco: #FFFFFF;
  --cinza-claro: #AFAFAF;
  --cinza-escuro: #787878;
  --hover: #C78C19;
  --ativo: #088C19;
  
}

body {
  font-family: var(--fonte);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
