.campo {
    margin: 20rem;
}

.campo label {
    display: block;
    margin-bottom: 0.1rem;
    font-size: 1rem;
}

.campo input {
    background: var(--branco);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 100%;
    font-size: .9rem;
    
}

.input {
    border: 2px solid var(--azul);
}