.imagem {
    width: 2.15rem;
    padding: 1.2rem 1rem;
}

.titulo {
    margin-top: 1.4rem;
    font-size: 2rem;
    font-family: var(--fonte-secundaria);
}

.negrito {
    font-weight: bolder;
}

@media (max-width: 760px) {
    .titulo {
        display: none;
    }
}