.beneficios {
    padding: 3em 0;
}

.beneficios__conteudo {
    width: 640px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 6em;
}

.beneficios__lista {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.beneficios__lista__item {
    line-height: 1.5;
    list-style: none;
    text-align: left;

}

.beneficios__lista__item:first-child {
    font-weight: bold;
}

.beneficios__lista__item::before {
    content: "🟊";
}

.beneficios__imagem {
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 var(--preto);
}

.beneficios__imagem:hover {
    opacity: 0.3;
}

.video {
    padding: 2.5em 2em 5em 2em;
}