.carrinho {
    width: 44px;
    height: 42px;
    background-image: url(./Carrinho.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.display {
    display: flex;
    align-items: center;
}

@media (min-width: 760px) {
    .carrinho {
        padding-top: 2.3rem;
    }
}